.center{
    text-align: left;
}
.d{
    color: crimson;
}
.speech{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
}
.name{
    font-family: serif;
    font-size: medium;
    color: black;
}
.name:hover{
    text-shadow: 0 0 4px cadetblue;
    border-style:double;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    
}
.stage-direction{
    font-family:sans-serif;
    font-size: medium;
    color: black;
}
.stage-direction{
    background-color: blanchedalmond;
}
.stage-direction:hover{
    background-color: burlywood;
}
.duchess{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: chartreuse;
}
.citizen
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: chocolate;
}
.duke{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: cornflowerblue;
}

table, td, th {  
    border: 2px solid black;
    text-align: left;
    
  }
  
  table {
    border-collapse: collapse;
    width: auto;
  }
  
  th, td {
    padding: 15px;
    
  }

  tr:hover{
      background-color: chocolate;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: auto;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    width: auto;
  }
  
  li a:hover {
    background-color: #111;
  }

